In [ ]:
!python -m pip install pymongo

In [1]:
pip install pymongo[srv]

zsh:1: no matches found: pymongo[srv]
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install 'pymongo[srv]'

Requirement already satisfied: pymongo[srv] in /home/shubham/anaconda3/lib/python3.8/site-packages (4.0.2)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 1.1 MB/s eta 0:00:01
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pymongo

## This below link is created from mongodb atlas which is cloud version of mongodb
client = pymongo.MongoClient("mongodb+srv://shubhpatil95:cimcon123@cluster0.ozeg9.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test

## STEP 1 : Create A Dabase

In [4]:
## For local mongodb compass

# import pymongo
# client = pymongo.MongoClient("mongodb://localhost:27017/")
# client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [7]:
## For cloud mongodb atlas

# import pymongo
# ## This below link is created from mongodb atlas which is cloud version of mongodb
# client_cloud = pymongo.MongoClient("mongodb+srv://shubhpatil95:cimcon123@cluster0.ozeg9.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
# print(client)
# db = client.test

MongoClient(host=['cluster0-shard-00-01.ozeg9.mongodb.net:27017', 'cluster0-shard-00-02.ozeg9.mongodb.net:27017', 'cluster0-shard-00-00.ozeg9.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-trddw6-shard-0', tls=True)

In [25]:
DEFAULT_CONNECTION_URL= "mongodb+srv://shubhpatil95:cimcon123@cluster0.ozeg9.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
DB_NAME= "FirstDataBase1"

## Established a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

# Create a DB under DB_NAME
dataBase= client[DB_NAME]

In [29]:
## Lets create a dabatase under "shubham_patil"
db_1=client["shubham_patil"]

In [30]:
## Let see the list of databases, "FirstDataBase1" and "shubham_patil" is not showing
client.list_database_names()

['FirstDataBase', 'admin', 'local']

## STEP 2: CREATE A COLLECTION

In [31]:
COLLECTION_NAME = "Test_shubham"

## Create a collection under database(means collection "Test_shubham" is created under dataBase "FirstDataBase")
collection= dataBase[COLLECTION_NAME]

#lets check where we have our database in list or not

def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in DatabaseL '{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Databse: '{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False

_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'Test_shubham' in Databse: 'FirstDataBase1' does not exists OR
    no documents are present in the collection

In [ ]:
## Since our collection is empty hence database is still not created
## let try to add a data into collection and see if database woudl be created then??

## STEP 3: Insert a record into collection

In [32]:
## Insert First Record
record = {'conmpanyName': 'Test_shubham',
         'product': 'Affordable AI',
         'courseoffered': 'Deep Learning For Computer Version'}
    
collection.insert_one(record)

In [33]:
## Now see if if FirstDatabase1 is created as collection is not EMPTY

_ = checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'Test_shubham' in DatabaseL 'FirstDataBase1' exists

In [34]:
## Insert Second Record

record = {'conmpanyName': 'Test2_shubham',
         'product': 'Second Product',
         'courseoffered': 'Second CourseOffered'}
collection.insert_one(record)

In [35]:
## Insert Third Record

record = {'conmpanyName': 'Test2_shubham',
         'product': 'Second Product',
         'courseoffered': 'Second CourseOffered',
         'name' : ["SHubham","Patil", 1234]}
collection.insert_one(record)

In [37]:
## Insert Fourth Record

record = {'conmpanyName': 'Test2_shubham',
         'product': 'Second Product',
         'courseoffered': 'Second CourseOffered',
         'name' : ["SHubham","Patil", 1234],
         "Record_dict" : {"name": "Shubham", "EmailId": "Shubham@gmnail.com","Ph_number": 1234567890}}
collection.insert_one(record)

## Step 4: Insert Multiple Records

In [1]:
import pymongo

DEFAULT_CONNECTION_URL= "mongodb+srv://shubhpatil95:cimcon123@cluster0.ozeg9.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
DB_NAME= "MulRecordDB"

## Established a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

## Create a Database
dataBase= client[DB_NAME]

COLLECTION_NAME="FirstCollection"
## Create a collection under Database
collection= dataBase[COLLECTION_NAME]

## Insert Multiple Records into database
list_of_record =[
    {"CompanyName": "ABC",
    "Product" : "P123",
    "courseOffered": "Software"},
    
    {"CompanyName": "XYZ",
    "Product" : "P345",
    "courseOffered": "AIML"},
    
    {"CompanyName": "PQR",
    "Product" : "P678",
    "courseOffered": "Cloud"}
]

rec = collection.insert_many(list_of_record)

In [49]:
## Let check the unqiue id of the record that just inserted
inserted_ids = rec.inserted_ids
inserted_ids

[ObjectId('6246a61e05b2b9781e5e9562'),
 ObjectId('6246a61e05b2b9781e5e9563'),
 ObjectId('6246a61e05b2b9781e5e9564')]

In [50]:
for idx, unique_ids in enumerate(inserted_ids):
    print(f"{idx} ==> {unique_ids}")

0 ==> 6246a61e05b2b9781e5e9562
1 ==> 6246a61e05b2b9781e5e9563
2 ==> 6246a61e05b2b9781e5e9564

In [51]:

## Insert Multiple Records into database
list_of_record_second =[
    {"CompanyName": "ABC",
    "Product" : "P123",
    "courseOffered": "Software"},
    
    {"CompanyName": "XYZ",
    "Product" : "P345",
    "courseOffered": "AIML"},
    
    {"CompanyName": "PQR",
    "Product" : "P678",
    "courseOffered": "Cloud",
    "complex" : [{"name":"shubham"},{"email":"shubham@123"},[1,2,3,4]]}
]

rec = collection.insert_many(list_of_record_second)

In [52]:
for idx, unique_ids in enumerate(inserted_ids):
    print(f"{idx} ==> {unique_ids}")

0 ==> 6246a61e05b2b9781e5e9562
1 ==> 6246a61e05b2b9781e5e9563
2 ==> 6246a61e05b2b9781e5e9564

In [53]:
## You can give your unique_id which will overwrite default one

## Insert Multiple Records into database
list_of_record_second =[
    {"_id": 1,
     "CompanyName": "ABC",
    "Product" : "P123",
    "courseOffered": "Software"},
    
    {"_id":2,
     "CompanyName": "XYZ",
    "Product" : "P345",
    "courseOffered": "AIML"},
    
    {"_id":100,
     "CompanyName": "PQR",
    "Product" : "P678",
    "courseOffered": "Cloud",
    "complex" : [{"name":"shubham"},{"email":"shubham@123"},[1,2,3,4]]}
]

rec = collection.insert_many(list_of_record_second)

## Step 5 : Find the method in MongoDB

In [54]:
## Find records in COLLECTIONS: 
find_first_record = collection.find_one()

print(f"The first record of collection : \n{COLLECTION_NAME} is=\n{find_first_record}")

The first record of collection :
FirstCollection is=
{'_id': ObjectId('6246a61e05b2b9781e5e9562'), 'CompanyName': 'ABC', 'Product': 'P123', 'courseOffered': 'Software'}

In [59]:
## Find All records in COLLECTIONS: 
find_all_record = collection.find()

for idx, record in enumerate(find_all_record):
    print(f"{idx} == >{record}")

0 == >{'_id': ObjectId('6246a61e05b2b9781e5e9562'), 'CompanyName': 'ABC', 'Product': 'P123', 'courseOffered': 'Software'}
1 == >{'_id': ObjectId('6246a61e05b2b9781e5e9563'), 'CompanyName': 'XYZ', 'Product': 'P345', 'courseOffered': 'AIML'}
2 == >{'_id': ObjectId('6246a61e05b2b9781e5e9564'), 'CompanyName': 'PQR', 'Product': 'P678', 'courseOffered': 'Cloud'}
3 == >{'_id': ObjectId('6246a62405b2b9781e5e9565'), 'CompanyName': 'ABC', 'Product': 'P123', 'courseOffered': 'Software'}
4 == >{'_id': ObjectId('6246a62405b2b9781e5e9566'), 'CompanyName': 'XYZ', 'Product': 'P345', 'courseOffered': 'AIML'}
5 == >{'_id': ObjectId('6246a62405b2b9781e5e9567'), 'CompanyName': 'PQR', 'Product': 'P678', 'courseOffered': 'Cloud', 'complex': [{'name': 'shubham'}, {'email': 'shubham@123'}, [1, 2, 3, 4]]}
6 == >{'_id': 1, 'CompanyName': 'ABC', 'Product': 'P123', 'courseOffered': 'Software'}
7 == >{'_id': 2, 'CompanyName': 'XYZ', 'Product': 'P345', 'courseOffered': 'AIML'}
8 == >{'_id': 100, 'CompanyName': 'PQR', 'Product': 'P678', 'courseOffered': 'Cloud', 'complex': [{'name': 'shubham'}, {'email': 'shubham@123'}, [1, 2, 3, 4]]}

## Step 6: Query or Filter out data in MongoDB

In [66]:
query1= {"_id": 1}

result = collection.find(query1)
for data in result:
    print(data)

{'_id': 1, 'CompanyName': 'ABC', 'Product': 'P123', 'courseOffered': 'Software'}

In [68]:
query2= {"Product": 'P345' }

result = collection.find(query2)
for data in result:
    print(data)

{'_id': ObjectId('6246a61e05b2b9781e5e9563'), 'CompanyName': 'XYZ', 'Product': 'P345', 'courseOffered': 'AIML'}
{'_id': ObjectId('6246a62405b2b9781e5e9566'), 'CompanyName': 'XYZ', 'Product': 'P345', 'courseOffered': 'AIML'}
{'_id': 2, 'CompanyName': 'XYZ', 'Product': 'P345', 'courseOffered': 'AIML'}

In [69]:
## query with criteria

query3= {"_id": {"$gt":1}}

result = collection.find(query3)
for data in result:
    print(data)

{'_id': 2, 'CompanyName': 'XYZ', 'Product': 'P345', 'courseOffered': 'AIML'}
{'_id': 100, 'CompanyName': 'PQR', 'Product': 'P678', 'courseOffered': 'Cloud', 'complex': [{'name': 'shubham'}, {'email': 'shubham@123'}, [1, 2, 3, 4]]}

In [63]:
result = collection.find(query)
result

## Step 7 : Delete One or Many documents in MongoDB

In [26]:
# lets add some random data in faculties
random_data = [
    {'_id' :'333', 'companyName': 'ABC', 'Faculty': 'XYZA'},
    {'_id' :'444', 'companyName': 'TRY', 'Faculty': 'ABCD'},
    {'_id' :'555', 'companyName': 'OPY', 'Faculty': 'PQRS'}
]

collection.insert_many(random_data)

In [19]:
## Lets delete one record in collection:FirstCollection

query_to_delete= {"Faculty" : "XYZA"}
collection.delete_one(query_to_delete)

In [20]:
for i in collection.find({"_id":{"$gte":"444"}}):
    print(i)

{'_id': '444', 'companyName': 'TRY', 'Faculty': 'ABCD'}
{'_id': '555', 'companyName': 'OPY', 'Faculty': 'PQRS'}

In [21]:
## Lets delete many document in collection:FirstCollection

query_to_delete_many= {"_id" : {"$gte":"444"}}
collection.delete_many(query_to_delete_many)

In [22]:
for i in collection.find({"_id":{"$gte":"444"}}):
    print(i)

In [23]:
## To delete all records from collections
collection.delete_many({})

## Step 8 Drop The Entire Collection

In [30]:
## Let check if collection is exist in DB
COLLECTION_NAME = "FirstCollection"
DB_NAME = "MUlRecordDB"

def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in DatabaseL '{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Databse: '{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False

_=checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'FirstCollection' in DatabaseL 'MUlRecordDB' exists

In [31]:
## Let drop the entire collection
collection.drop()

In [32]:
## Now check if collection is dropped
COLLECTION_NAME = "FirstCollection"
DB_NAME = "MUlRecordDB"

def checkExistence_COL(COLLECTION_NAME, DB_NAME, db):
    collection_list = db.list_collection_names()
    
    if COLLECTION_NAME in collection_list:
        print(f"Collection:'{COLLECTION_NAME}' in DatabaseL '{DB_NAME}' exists")
        return True
    
    print(f"Collection:'{COLLECTION_NAME}' in Databse: '{DB_NAME}' does not exists OR \n\
    no documents are present in the collection")
    return False

_=checkExistence_COL(COLLECTION_NAME=COLLECTION_NAME, DB_NAME=DB_NAME, db=dataBase)

Collection:'FirstCollection' in Databse: 'MUlRecordDB' does not exists OR
    no documents are present in the collection

## Step 9 : Update

In [34]:
# Just create the sample database and collections

import pymongo

DEFAULT_CONNECTION_URL= "mongodb+srv://shubhpatil95:cimcon123@cluster0.ozeg9.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
DB_NAME= "Newdatabse"

## Established a connection with mongoDB
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

## Create a Database
dataBase= client[DB_NAME]

COLLECTION_NAME="NewCollection"
## Create a collection under Database
New_collection= dataBase[COLLECTION_NAME]

records =[
    {"A":11,"B":"AC"},
    {"A":22,"B":"BC"},
    {"A":33,"B":"CC"}
]
New_collection.insert_many(records)

all_record= New_collection.find()

for idx, record in enumerate(all_record):
    print(f"{idx}=>{record}\n")

0=>{'_id': ObjectId('62470102c62626d8e7cf08b9'), 'A': 11, 'B': 'AC'}

1=>{'_id': ObjectId('62470102c62626d8e7cf08ba'), 'A': 22, 'B': 'BC'}

2=>{'_id': ObjectId('62470102c62626d8e7cf08bb'), 'A': 33, 'B': 'CC'}

3=>{'_id': ObjectId('6247051ec62626d8e7cf08bd'), 'A': 11, 'B': 'AC'}

4=>{'_id': ObjectId('6247051ec62626d8e7cf08be'), 'A': 22, 'B': 'BC'}

5=>{'_id': ObjectId('6247051ec62626d8e7cf08bf'), 'A': 33, 'B': 'CC'}

In [35]:
## find all the record at once present in the record with SPECIFIC fields
all_record= New_collection.find({},{"B"})

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('62470102c62626d8e7cf08b9'), 'B': 'AC'}

{'_id': ObjectId('62470102c62626d8e7cf08ba'), 'B': 'BC'}

{'_id': ObjectId('62470102c62626d8e7cf08bb'), 'B': 'CC'}

{'_id': ObjectId('6247051ec62626d8e7cf08bd'), 'B': 'AC'}

{'_id': ObjectId('6247051ec62626d8e7cf08be'), 'B': 'BC'}

{'_id': ObjectId('6247051ec62626d8e7cf08bf'), 'B': 'CC'}

In [37]:
## replace present data with new data
present_data={"B":"CC"}
new_data={"$set":{"B":"ABCD"}}

In [39]:
New_collection.update_one(present_data,new_data)

# New_collection.update_many(present_data,new_data)

In [43]:
all_record=New_collection.find()

for idx, record in enumerate(all_record):
    print(f"{record}\n")

{'_id': ObjectId('62470102c62626d8e7cf08b9'), 'A': 11, 'B': 'AC'}

{'_id': ObjectId('62470102c62626d8e7cf08ba'), 'A': 22, 'B': 'BC'}

{'_id': ObjectId('62470102c62626d8e7cf08bb'), 'A': 33, 'B': 'ABCD'}

{'_id': ObjectId('6247051ec62626d8e7cf08bd'), 'A': 11, 'B': 'AC'}

{'_id': ObjectId('6247051ec62626d8e7cf08be'), 'A': 22, 'B': 'BC'}

{'_id': ObjectId('6247051ec62626d8e7cf08bf'), 'A': 33, 'B': 'ABCD'}

## Excercise

- Create A Dababase
- Create A Collection
- Insert a Multiple records into a collection
- Update the collection
- Find the records with query

In [12]:
import pymongo
DEFAULT_CONNECTION_URL = "mongodb+srv://shubhpatil95:cimcon123@cluster0.ozeg9.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"

Database_name = "Exercise1"

Collection_Name = "Collection_Exercise1"

# Connection With MongoDb
client = pymongo.MongoClient(DEFAULT_CONNECTION_URL)

# Create A Database
database = client[Database_name]

# Create A Collection
exercise_collection = database[Collection_Name]

In [13]:
# Create records to insert into collection
records = [
    {"A":11, "B":22, "C":"ABCD", "D":"QWERTY"},
    {"A":32, "B":33, "D":"JKLA", "D":"ASDF"},
    {"A":43, "B":44, "K":"HJK", "D":"OPD"},
    {"F":"No", "Y":"OK", "X":"YIU", "Z":"RET"},
    {"A":67, "B":"KL", "C":"ABCD", "D":11}
]

# insert many records into a exercise_collection
exercise_collection.insert_many(records)

In [14]:
## replace current records with updated one
current_records = {"A":11, "B":22, "C":"ABCD", "D":"QWERTY"}
updated_records = {"$set" : {"A":"Updated", "B":"Updated", "C":11, "D":"Ok"}}

exercise_collection.update_one(current_records,updated_records)

In [16]:
# Check updated records
query = {"A":"Updated"}
result = exercise_collection.find(query)
for record in result:
    print(record)

{'_id': ObjectId('62495e989c4972f1b3fc6dc9'), 'A': 'Updated', 'B': 'Updated', 'C': 11, 'D': 'Ok'}

In [17]:
## replace current records with updated many
current_records = {"F": "No"}
updated_records = {"$set" : {"F":"No", "Y":"OKOKOK", "X":"NONONO", "Z":"YUPYUP"}}
exercise_collection.update_many(current_records,updated_records)

In [19]:
# Check All Records Of Collection
result = exercise_collection.find()
for record in result:
    print(record)

{'_id': ObjectId('62495e989c4972f1b3fc6dc9'), 'A': 'Updated', 'B': 'Updated', 'C': 11, 'D': 'Ok'}
{'_id': ObjectId('62495e989c4972f1b3fc6dca'), 'A': 32, 'B': 33, 'D': 'ASDF'}
{'_id': ObjectId('62495e989c4972f1b3fc6dcb'), 'A': 43, 'B': 44, 'K': 'HJK', 'D': 'OPD'}
{'_id': ObjectId('62495e989c4972f1b3fc6dcc'), 'F': 'No', 'Y': 'OKOKOK', 'X': 'NONONO', 'Z': 'YUPYUP'}
{'_id': ObjectId('62495e989c4972f1b3fc6dcd'), 'A': 67, 'B': 'KL', 'C': 'ABCD', 'D': 11}